<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCZi58XMRYSzY0J9p5RNzJmkusO9BKNt5c</string>
	<key>GCM_SENDER_ID</key>
	<string>959733048227</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myshop</string>
	<key>PROJECT_ID</key>
	<string>myshop-ecommerce-3ebaa</string>
	<key>STORAGE_BUCKET</key>
	<string>myshop-ecommerce-3ebaa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:959733048227:ios:121f195bc6a85fbebe7016</string>
</dict>
</plist>